{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game">

	<h1 style="color:white">{{gameId}}</h1>

	<div class="pre">
	<h3>Your job is to create content and share it with the right audiences, then defend your post from the onslaught of bad comments from the other side in order to get the most shares. </h3>

	<button class="btn submit" data-event="game:newArticle" data-package='{"code": "TEST", "name": "player"}' id="game-newArticle">Start</button>
	</div>

		<div class="row create" data-stage="game:newArticle" id="create">
		</div> <!-- .create -->

		<div class="row share" data-stage="game:comments" style="display:none;" id="comments">
		</div> <!-- .share -->

</div> <!-- .game -->

