{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game">

	{{!-- <h1 style="color:white">{{gameId}}</h1> --}}

	<div class="pre">

		<h3>Hey, Hey, look who's a famous social media star! Nice goin, champ, but the work's not over yet!</h3>
		<p>I'm Phillipe, your marketing manager. To keep your followers, you have to keep them interested! So I'll be tracking trends and letting you know what to share for different events. Make sure to listen, otherwise you might lose followers, and me!</p>

		<p>Whenever you're ready...</p>

		<button class="btn submit" data-event="game:newEvent" data-package='{"code": "TEST", "name": "player"}' id="game-newEvent">Let's Go!</button>

	</div>

		<div class="event" data-stage="game:newEvent" id="event">
		</div> <!-- .create -->

		<div class="round" data-stage="game:round" style="display:none;" id="round">
		</div> <!-- .share -->

</div> <!-- .game -->

