{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game">

	<h1 style="color:white">{{gameId}}</h1>

	<div class="pre">
		<h3>News comes out every day from hardworking journalists, but the truth gets twisted along the way, reprinted, shared, and reviewed.</h3>

		<button class="btn submit" data-event="game:newEvent" data-package='{"code": "TEST", "name": "player"}' id="game-newEvent">Start</button>
	</div>

		<div class="row event" data-stage="game:newEvent" id="event">
		</div> <!-- .create -->

		<div class="row share" data-stage="game:comments" style="display:none;" id="comments">
		</div> <!-- .share -->

</div> <!-- .game -->

