{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game">

	{{!-- <h1 style="color:white">{{gameId}}</h1> --}}

	<div class="pre">

		<div class="screen">
			<div class="bubble">
				<h3>Hey, Hey, look who's a famous social media star! You've got a decent following of around 200,000 followers, but the work's not over yet!</h3>

				<h4>Hi! I'm Phillipe, your marketing manager. <br>In order to keep your new-found followers, you have to keep them interested!</h4>
				<img src="https://res.cloudinary.com/esalling/image/upload/v1491284408/bitmoji-20161103192139_et5ayi.png"/>
			</div>
		</div>
		
		<div class="screen">

			<h4>I'll be tracking trends and letting you know what to share for different events. <br>Make sure to listen, otherwise you might lose followers, and me!</h4>
			<img src="https://res.cloudinary.com/esalling/image/upload/v1491284587/bitmoji-20161013184418_gtz1ye.png"/>

		</div>
		<div class="screen">

			<h4>Share events that match the trends, and look out for your followers reacting! They could either love or hate your posts...</h4>
			<img src=""/>

		</div>
		<div class="screen">

			<h4>Tap 'likes' to increase attention to that post and boost your followers.</h4>
			<img src=""/>

		</div>
		<div class="screen">

			<h4>Tap 'angry faces' to decrease bad attention from that post, reducing the number of followers you lose.</h4>
			<img src=""/>

		</div>
		<div class="screen">

			<h4>We can work out a deal...<br>If you can double your followers in a year, I'll stick with you.<br>If not, I'll have to leave you behind.</h4>
			<img src="https://res.cloudinary.com/esalling/image/upload/v1491289962/bitmoji-20161025192034_gzktjm.png"/>

		</div>


		<div class="screen last">

			<h3>Make sense?</h3>

			<h4>Whenever you're ready, we can start...</h4>
			<img src="https://res.cloudinary.com/esalling/image/upload/v1491284587/bitmoji-20161013184418_gtz1ye.png"/>

			<button class="btn submit" data-event="game:newEvent" data-package='{"code": "TEST", "name": "player"}' id="game-newEvent">Let's Go!</button>
			
		</div>

	</div>

		<div class="event" data-stage="game:newEvent" id="event">
		</div> <!-- .create -->

		<div class="round" data-stage="game:round" style="display:none;" id="round">
		</div> <!-- .share -->

		<div class="game-over" data-stage="game:end" style="display:none;" id="game-over">
		</div> <!-- .share -->

</div> <!-- .game -->

