{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game" style="display:none;">

		<div class="row status-bar">

			<div id="day"></div>

			<div class="actions">

				<div class="one"></div>
				<div class="two"></div>
				<div class="three"></div>

			</div>

			<div class="paper">
				<div class="article-spot"></div>
				<div class="article-spot"></div>
				<div class="article-spot"></div>
				<div class="article-spot"></div>

			</div>
			
		</div> <!-- .status-bar -->

		<div class="row article-feed">
		

			<div class="article" id="one"></div>
			<div class="article" id="two"></div>
			<div class="article" id="three"></div>
			
		</div> <!-- .article-feed -->

	</div> <!-- .game -->