{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="game">

	<h1 style="color:white">{{gameId}}</h1>

	<button class="btn submit" data-event="game:newArticle" data-package='{"code": "TEST", "name": "player"}' id="game-newArticle">Start</button>

		<div class="row create" data-stage="game:newArticle" id="create">
		</div> <!-- .create -->

		<div class="row share" data-stage="game:comments" style="display:none;" id="comments">
		</div> <!-- .share -->

</div> <!-- .game -->

