{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


{{!-- {{>article-template}} --}}

<div class="container-fluid home">

<h1>Welcome to News Games/ NewsMemes/ Gorilla News</h1>

	<div class="instructions">
		<h3>Here are Gorilla News, we create content for everyone, as long as they will like it!</h3>

		Ready?
	</div>

<div class="form">
<input class="btn submit" type="submit" value="GO" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-start"></input>
</div>

</div> <!-- .container-fluid -->