{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


{{!-- {{>article-template}} --}}

<div class="container-fluid home">

	<h1>Share Your Truth</h1>

	<div class="instructions">
		<h3>News comes out every day from hardworking journalists, but the truth gets twisted along the way, reprinted, shared, and reviewed.</h3>
		<h4>As a prominent social media figure, your voice matters. <br>What you share matters. </h4>
	</div>

	<div class="form" style="display:none">
		<h4>Are you up for all of that responsibility?</h4>
		<input class="btn submit" type="submit" value="start" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-start"></input>
	</div>

</div> <!-- .container-fluid -->