{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


{{!-- {{>article-template}} --}}

<div class="container-fluid home">

Welcome to News Games/NewsMemes/ShareIt/[Name here]

Here are Gorilla News, we 

<div class="form">
<input class="btn submit" type="submit" value="start" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-start"></input>
</div>

</div> <!-- .container-fluid -->