{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


{{!-- {{>article-template}} --}}

<div class="container-fluid home">

{{index.name}}

<div class="form">
<input class="btn submit" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-start">Start</input>
</div>

</div> <!-- .container-fluid -->