{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


{{!-- {{>article-template}} --}}

<div class="container-fluid home">

	<h1>Confirmation Identity</h1>

	<div class="instructions">
		<h3>Take over the world via social media</h3>
	</div>

	<div class="form" style="display:none">
		<input class="btn submit" type="submit" value="start" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-start"></input>
	</div>

</div> <!-- .container-fluid -->