<script id="article-template" type="text/x-handlebars-template">
{{#each articles}}
<div class="article">
	<ul>
	  {{#each facts}}
		  <li>
		  <p>fact with 
		  	{{#if source}}
		  	source!
		  	{{else}}
		  	no source...
		  	{{/if}}
	  	</p>
			</li> 
	  {{/each}}
	</ul>
</div>
{{/each}}
</script>
{{!-- <div class="article-spot"></div>  --}}