<div id="article-post">

{{{jsonPrint this.article.thumbnail}}}

	<div id="article-image">
		<div class="thumbnail option" id="{{thumbnail_key}}">
			<img src="{{this.article.thumbnail.url}}" />
		</div>
	</div>

	<div id="article-title">{{this.article.headline.title}}</div>

</div>

<div id="comment-feed">





</div>
