<div class="feed-wrap" style="display:none">
	<div id="comment-feed">

		{{#each articles}}

			<div class="comment" id="{{this.key}}">

				<div class="profile-image col-sm-3 thumbnail">
					<img src="{{this.thumbnail.url}}"/>
				</div>

				<div class="comment-body col-sm-9">

					<div class="profile-name">{{this.newspaper}}</div>

					<div class="comment-text">{{this.name}}</div>

				</div>

				<button class="btn submit share-btn">SHARE</button>

			</div>

		{{/each}}

	</div>
</div>

<div class="modal" id="round-score" style="display:none;">

	<h1>Nice work! You defended the truth from <span id="twisted-killer"></span> twisted articles!</h1>
	<h1>Uh Oh! You managed to let <span id="twisted-number"></span> twisted articles through! Better luck next time!</h1>

	<button class="btn submit" data-event="game:newEvent" data-package='{"code": "TEST", "name": "player"}' id="game-newEvent">again, again!</button>

</div>
