<div class="feed-wrap" style="display:none">
	<div id="comment-feed">

		{{#each articles}}

			<div class="comment" id="{{this.key}}">

				<div class="profile-image thumbnail">
					<img src="{{this.thumbnail.url}}"/>
				</div>

				<div class="comment-body ">

					<div class="profile-name">{{this.newspaper}}</div>

					<div class="comment-text">{{this.name}}</div>

				</div>

				<button class="btn submit share-btn">SHARE</button>

			</div>

		{{/each}}

	</div>
</div>


