<div class="header">
	<div class="instructions">{{{goal.text}}}</div>

	<div class="round-goal"></div>

	<section class="" id="new-event">

		<div class="current-event">

			{{currentEvent.name}}

			<br>

			{{{currentEvent.text.html}}}

		</div>

	</section>
</div>

{{> commenting this=articles}}