<div class="header" id="new-event">

		<div class="current-event">

			<div class="event-title">
				<h3>
				<strong>BREAKING:</strong>
				{{currentEvent.name}}
				</h3>
			</div>

			<br>

			<div class="details"><h4>{{{currentEvent.text.html}}}</h4></div>

		</div>

		<div class="counter" data-count="0">15</div>

		<div class="instructions">{{{goal.text}}}</div>

</div>

{{> commenting this=articles}}

	<div class="followers-bar">Followers: <span>200000</span></div>