<footer id="footer" class="">

<div class="footer">
		<div class="container">

			<div class="footer-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="text-center padding-ver-clear">

							<div class="logos-footer center-block">
								<img id="logo" src="/images/logos/logo_white.png" alt="Engagement Lab">
								<img id="logo-emerson" src="/images/logos/emerson_name.png" alt="Emerson College">
							</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</footer>
<!-- footer end -->