<a id="menu-toggle" href="#" class="btn btn-lg toggle"><i class="icon"><img src="/images/menu.png" alt="menu" /></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-lg pull-right toggle"><i class="icon"><img src="/images/menu.png" alt="menu" /></i></a>
    <li>
      <a href="/">Home</a>
    </li>
  </ul>
</div>