<div class="base" >

{{{jsonPrint this}}}

<h3>Welcome, {{player.name}}!</h3>

	<div class="badges">

		<h3>Badges</h3>

		{{#if badges}}

			{{#each badges}}

			<div class="badge">

				<h4>{{this.name}}</h4>

			</div>

			{{/each}}

		{{else}}

			<h4>No Badges yet! You'll be starting at the very beginning!<h4>

		{{/if}}

	</div>

	<button class="btn submit" data-event="game:start" data-package='{"code": "TEST", "name": "player"}' id="game-newRound">Let's Go!</button>

	<button class="btn submit" data-event="game:newRound" data-package='{"code": "TEST", "name": "player"}' id="game-newRound">Let's Go!</button>

</div>