<div class="event-wrap">
	<div id="event-feed" style="display:none">

		{{#each this.articles}}

			<div class="post" id="{{this.key}}">

				<div class="profile-image thumbnail">
					<img src="{{this.thumbnail.url}}"/>
				</div>

				<div class="post-body ">

					<div class="profile-name">{{this.newspaper}}</div>

					<div class="comment-text">{{this.name}}</div>

				</div>

				<button class="btn submit share-btn">SHARE</button>

			</div>

		{{/each}}

		<div class="loading"></div>

	</div>
</div>


