<div id="game-over" style="display:none;">

	<h2>Your final follower count is...</h2>

	<div class="final-followers"></div>

	<div class="final-message"></div>

	<button class="btn submit" href="/">Bring me home!</button>

</div>
