<div class="post-feed">

	{{> game/commenting}}

</div>

<div class="fb-footer">

	<div class="points-bar" data-start="{{pointCount}}"><div style="width:50%"></div></div>

	<a id="feed-btn">Feed</a>
	<a id="notifications-btn">Notifications</a>
	<a id="profile-btn">Profile</a>

</div>

