<div class="post-feed">

	{{> game/commenting}}

</div>

<div class="direct-message alien" style="display:none;">

	<div class="body"></div>

</div>

<div class="fb-footer">

	<a class="profile-btn">Profile</a>

	<div class="points-bar" data-start="{{pointCount}}"><div style="width:50%"></div></div>

</div>

