<div class="post-feed">

	{{> game/commenting}}

</div>

<div class="fb-footer">

	<a id="feed-btn">Feed</a>
	<a id="notifications-btn">Notifications</a>
	<a id="profile-btn">Profile</a>

	<div class="followers-bar"><div style="width:100%">{{followerCount}}</div></div>

</div>

