<div class="post-feed">

	{{#each currentEvents}}

		{{> game/commenting this}}

	{{/each}}

</div>

<div class="fb-footer">

	<a id="feed-btn"></a>
	<a id="notifications-btn"></a>
	<a id="profile-btn"></a>

	<div class="identity-bar"><div></div></div>

</div>

