<div class="header">
	<div class="instructions">The news comes as it does, let's see how you did!</div>

</div>

<div id="round-feed">

	<div class="round-score">You maintained your identity for {{score}} articles!</div>
	<div class="round-fake">You shared {{fake}} fake articles</div>

</div>

<div class="next-round">

	<button class="btn submit" data-event="game:newRound" data-package='{"code": "TEST", "name": "player"}' id="game-newRound">again, again!</button>

</div>

