<div class="rules" style="display:none;">
	
	{{!-- <div class="screen">
		<div class="bubble">
			<h3>Alright soldier, your time has come!</h3>

			<h4>I'm Argyn, your Commander in Chief here on our extraterrestrial colony.</h4>
			<img src="https://res.cloudinary.com/esalling/image/upload/v1491284408/bitmoji-20161103192139_et5ayi.png"/>
		</div>
	</div>
	
	<div class="screen">

		<h4>We've discovered a new planet, 'Earth' as it's inhabitants call it.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491284587/bitmoji-20161013184418_gtz1ye.png"/>

	</div>
	<div class="screen">

		<h4>In order to take over this planet, we must understand how it works. We are in the process of infultrating their different political systems that control different regions of the planet.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Your focus will be the small, insignificant country known as the United States of America.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Your job? To infultrate the social media profiles of a series of selected individuals. Each will prepare you with an understanding of the how the United Statesian people consume and understand news and media.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Through the eyes of each human, go on to their social media profiles, study their followers, and act as they would. Share the news, the articles, the videos and posts.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Just be careful...If you stray from how that human would share posts, your cover will be blown.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Your followers will respond to your shared posts depending on how they align with your identity.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491292337/Screen_Shot_2017-04-04_at_3.20.04_AM_doxlx8.png"/>

	</div>
	<div class="screen">

		<h4>Tap 'likes' to collect them, increasing attention to that post and boosting your followers!</h4>
		<img src="http://res.cloudinary.com/esalling/image/upload/v1491283825/like.gif"/>

	</div>
	<div class="screen">

		<h4>Tap 'angry faces' away to decrease bad attention from that post, reducing the number of followers you lose!</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491283826/angry-face.gif"/>

	</div>
	<div class="screen">

		<h4>We can work out a deal...<br>If you can double your followers in a year, I'll stick with you.<br>If not, I'll have to leave you behind.</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491289962/bitmoji-20161025192034_gzktjm.png"/>

	</div> --}}
	<div class="screen last">

		<h3>Make sense?</h3>

		<h4>Whenever you're ready, we can start...</h4>
		<img src="https://res.cloudinary.com/esalling/image/upload/v1491284587/bitmoji-20161013184418_gtz1ye.png"/>

		<button class="btn submit" data-event="game:newProfile" data-package='{"code": "TEST", "name": "player"}' id="game-newProfile">Let's Go!</button>
		
	</div>
</div>