@import "core/variables";
@import "core/mixins";
@import "core/functions";


// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

html, body, .page-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

// Body
.body {
  background-color: #000;
  color: #fff;
  font-family: "HalisLight";
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.option {
	&.active {
		outline: 3px yellow solid;
	}
}


.home {

	text-align:center;

	#new-game {
		height: 80px;
		width: 160px;
		border: black 3px solid;

	}

}

#gameContent {

	width: 425px;
	height:100%;
	margin: 0 auto;

	.game, .event, .share {
		height: 100%;
	}

	.game {
		text-align: center;

		.modal {
			height: 100%;
			width:100%;
			background-color:black;
			color: white;
			margin: 0 auto;
			z-index: 1000;
			position: absolute;
			top: 0px;
		}

		.event {
			font-size: 20px;

			#new-event {
				height:100%;
				width: 100%;
				background-color:white;
				color: black;
				text-align:center;
			}

			.instructions {
				margin-bottom: 20px;

			}

			.comment {
				background-color:white;
				color: black;
				position: absolute;
				bottom: 50%;
				width: 425px;
				margin: 0 auto;
				height: 50px;
				font-size: 12px;

			}

			.thumbnail {
				img {
					height: 40px;
				}
			}

			#article-slide {
				height: 80%;
			}

			.buttons {
				position: absolute;
				bottom: 0;
				left: 50%;

				input {
					background-color:white;
					color: black;
				}
			}


		}
	}

}

	



