@import "core/variables";
@import "core/mixins";
@import "core/functions";


// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

html, body, .page-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

// Body
.body {
  background-color: $fb-grey;
  color: $fb-darkgrey;
  font-family: "HalisLight";
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.option {
	&.active {
		outline: 3px yellow solid;
	}
}


.home {

	text-align:center;

	#new-game {
		height: 80px;
		width: 160px;
		border: black 3px solid;

	}

}

.nav {
	background-color: $fb-blue;
	color: white;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}



#gameContent {

	width: 320px;
	height:100%;
	overflow:hidden;
	margin: 0 auto;

	.game, .profile, .feed, .event, .round {
		height: 100%;
		max-width: 320px;
		width:100%;
		position: absolute;
	}


	.pre {

		.screen {
			display:none;

		}

		.rules, .base {
			// display:none;
		}
	}

	.game {
		text-align: center;

		.modal {
			height: 100%;
			width:100%;
			background-color:white;
			color: $fb-darkgrey;
			margin: 0 auto;
			z-index: 1000;
			position: absolute;
			top: 0px;
		}

		.status {
			&.Positive {
				color: green;
			}

			&.Negative {
				color: red;
			}

			&.Neutral {
				color: yellow;
			}
		}

		.screen {
			img {
				max-width: 300px;
				margin: 0 auto;
			}
		}

		.profile-select {
			height: 160px;
			width: 100px;
			display: inline-block;
			&.selected {
				border: 2px black solid;
			}
		}

		// Profile 
		.profile {

			background: white;

			.profile-header {
			    background-repeat: no-repeat;
			    background-size: 100% 200px;
			    background-position: top center;
			    height: 300px;
			    width: 100%;
			    padding: 25% 0px;
				img {
					display: inline-block;
				}

			}

			.loading {
				height: 150px;
				width: 100%;
				background-image: url('https://res.cloudinary.com/esalling/image/upload/v1491786762/fbloader.gif');
				background-position: center;
				background-size: 100%;
			}

			.profile-wrapper {
				position: absolute;
				left: 0px;
				top: 0px;

				&.minimized {
					animation-name: minimize;
					animation-duration: 1s;
					animation-fill-mode: forwards;
				}
			}

			#start-round {
				position:absolute; 
				bottom: 60px;
			    left: 0px;
				width: 100%;
			}

		} // .profile

		// Round event
		.feed {
			font-size: 20px;

			.fb-footer {
				display: none;
				position: absolute;
				bottom: 0px;
				width: 100%;
				max-width: 320px;
				z-index: 1000;
				background-color: $fb-grey;

				a {
					height:60px;
					width: 30%;
					&#feed-btn {
						background: url('')
					}
				}
			}

			.identity-bar {
				background: $fb-grey;
				height: 40px;
				margin: 10px 0px;
				width: 100%;
				z-index: 1000;

				div {
					background: $fb-blue;
					height: 40px;
					margin: 10px 0px;
					width: 0%;
				}
			}

			.header {
				background-color: white;
				color: $fb-blue;
				z-index: 1000;
				top: 0px;
			}

			#new-event {
				height:100%;
				width: 425px;
				position:absolute;
				z-index: 1000;
				background-color:white;
				color: black;
				text-align:center;
			}


			.post-footer {
				height: 60px;
				width: 100%;

				.btn {
					width: 60px;
					height: 60px;
					display: inline-block;
				}

				.likes {
					
				}
				.comments {

				}
				.share-btn {

				}
			}

			.post-feed {
				height: 100%;
			}

			.counter {
				margin: 60px auto;
				font-size: 34px;
				line-height: 100px;
				height: 100px;
				width: 100px;
				border: 2px black solid;
				border-radius: 50px;
			}

			.instructions {
				margin-bottom: 20px;
				font-weight: bold;
			    padding: 0px 20px;
			}

			.feed-wrap {
				height: calc(100% - 20px);
				margin-top: 0px;
				overflow: hidden;
				position:relative;
			}

			#post-feed {
				display:none;
				overflow: scroll;
				position: absolute;
				background: white;
			    height: 100%;
			    width: 425px;
			    bottom: 400px;
			    padding-top: 10px;
				vertical-align: bottom;
			}

			.post {
				background-color:white;
				color: black;
				position: absolute;
				display:block;
				width: 320px;
				margin: 0 auto;
				height: 300px;
				font-size: 20px;
				overflow: hidden;
				z-index:1;
				border: 3px gray solid;

				.reaction {
					height: 60px;
					width: 60px;
					border-radius: 30px;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					z-index: 2000;
					background-color: white;
					display: none;
				}

				.angry {
					background-image: url("https://res.cloudinary.com/esalling/image/upload/v1491283826/angry-face.gif");
				}

				.likes {
					background-image: url("https://res.cloudinary.com/esalling/image/upload/v1491283825/like.gif");
				}
				.share-btn {
					position: absolute;
					bottom:0px;
					z-index: 1000;
					left: 20px;
					bottom: 5px;

					&:disabled {
						background-color: black;

					}
				}
			}

			.thumbnail {
				float: left;
				height: 150px;
				width: 150px;
				img {
					height: 100%;
					width: 100%

				}
			}

			#article-slide {
				height: 80%;
			}

			.buttons {
				position: absolute;
				bottom: 0;
				left: 50%;

				input {
					background-color:white;
					color: black;
				}
			}


		} // .event

		// End of round review
		.round {

			.header {
				z-index: 1000;
				background-color:black;
				position:relative;
				font-size: 20px;
				height: 120px;
			}

			#round-feed {
				z-index: 1;
			}
			.comment {
				background-color:white;
				color: black;
				position: relative;
				display:block;
				width: 425px;
				margin: 0 auto;
				height: 120px;
				font-size: 14px;
				z-index:1;
				border: 3px gray solid;

			}

			.thumbnail {
				float: left;
				height: 100px;
				width: 100px;

			}
		} // .round


	}

}

	



